{% extends 'base.html.twig' %}

{% block title %}New Contacts{% endblock %}

{% block body %}
    <div class="headeris">CREATE NEW CONTACT</div>
    <div class="container-fluid">

        {{ include('contacts/_form.html.twig') }}

    </div>
{% endblock %}
